.nav{
    width: 100vw;
    position: fixed;
    z-index: 999;
    padding: 1rem;
    background-color: var(--black);
}
.navInner{
    display: flex;
    align-items: center;
}

.brand{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.brand h1{
    color: #FFF;
    text-shadow: -3px 4px 15px #000;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
}